.flashcard-stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust 'minmax' value as per your design */
  grid-gap: 20px;
  justify-content: center;
  align-items: start; /* Align items to the start of the container */
  grid-auto-rows: 1fr; /* All rows take the height of the tallest card */
}
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; /* Spacing before the grid starts */
  font-size: 16px; /* Adjust as needed */
  border: 1px solid #ddd;
  border-radius: 5px;
}
.sort-button {
  background-color: #BB86FC; /* Use your theme color */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.sort-button:hover {
  background-color: #a275f7; /* A lighter shade for hover effect */
}

.sort-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(187, 134, 252, 0.5); /* Focus ring around the button */
}

.sorting-buttons-container {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  margin-bottom: 10px; 
}