.mini-flashcard {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Space out content evenly */
  width: 100%; /* Take up full width of the grid column */
  min-height: 275px; /* Set a minimum height to accommodate the content */
}
.mini-flashcard h3 {
  color: #333;
  margin-bottom: 10px;
}

.mini-flashcard ul {
  list-style: none;
  padding: 0;
}

.mini-flashcard ul li {
  margin-bottom: 5px;
  font-size: 14px;
}
